@use '../../styles/variables' as vars;

.Recently-Viewed {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    &--Item {
        display: grid;
        grid-template-rows: 1fr auto;

        &--Image {
            margin: 0 auto;
            position: relative;
        }

        &--Title {
            cursor: pointer;
            text-align: center;
        }

        &--Button {
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: 0.5);
            color: vars.$color-white;
            cursor: pointer;
            border: none;
            height: 1.5rem;
            left: 0;
            position: absolute;
            right: 0;
            width: 100%;
        }
    }
}