@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mxn;

.Main {
    align-items: center;
    background-color: vars.$color-dark;
    color: white;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
    padding-top: 2rem;
}

.Main-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Main-Search {
    font-size: 1.2rem;
    border-radius: 30px;
    border: 2px solid vars.$color-border;
    margin: 1rem;
    padding: 1rem;
    width: 80vw;
}

.Main-Submit, .Main-Filters-Button, .Main-Sorting-Button {
    display: block;
    margin: 0 auto 1rem;
    font-size: 1.2rem;

    &:hover {
        border: 2px solid vars.$color-white;
    }
}

.Main-Filters {
    h4 {
        margin: 0.4rem;
    }
}

.Main-Controls {
    width: 100%;
}
.Main-Filters-Genres {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.control {
    background-color: vars.$color-blue;
    color: vars.$color-white;
    border: 2px solid vars.$color-blue;
    border-radius: 30px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    transition: background-color 0.3s ease-out;
    &:hover {
        border: 2px solid vars.$color-white;
    }
    &.selected {
        color: vars.$color-blue;
        background-color: vars.$color-dark;
    }
}

.Main-Filters-DatePickers {
    align-items: center;
    display: flex;
    font-size: 1rem;
    & input {
        padding: 0.5rem;
    }
}

.Main-Sorting {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@include mxn.for-desktop-up {
    .Main-Search {
        width: 700px;
    }
}
