@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mxn;

.Main {
    align-items: center;
    background-color: vars.$color-dark;
    color: white;
    font-size: calc(10px + 2vmin);
    min-height: 100vh;
    padding-top: 2rem;
}

.Main-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Main-Search {
    font-size: 1.2rem;
    border-radius: 30px;
    border: 2px solid vars.$color-border;
    margin: 1rem;
    padding: 1rem;
    width: 80vw;
}

.Main-Filters-Genres {
    font-size: 1.2rem;
    display: flex;

    .genre {
        padding: 0 1rem;
        &.selected {
            color: #4285f4;
        }
    }
}

@include mxn.for-desktop-up {
    .Main-Search {
        width: 700px;
    }
}
